@import 'modern-normalize/modern-normalize.css';

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body, h1, p {
  margin: 0;
  padding: 0;
}

body {
  background: #303030;
  color: #fff;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
